# flyctl launch added from .gitignore
**/backups
**/*.sh
**/.env

**/.env

# flyctl launch added from tsm-shell/.gitignore
tsm-shell/**/backups
tsm-shell/**/*.sh
tsm-shell/**/.env

tsm-shell/**/.env
fly.toml
tsm-shell/
.fly-build/
__pycache__/
outreach/node_modules/
backups/